In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/chiharuishida/DataVisualization/main/Penguins.csv"
Penguins = pd.read_csv(url)
Penguins

     Torgersen  39.1  18.7  181  3750
0    Torgersen  39.5  17.4  186  3800
1    Torgersen  40.3  18.0  195  3250
2    Torgersen  36.7  19.3  193  3450
3    Torgersen  39.3  20.6  190  3650
4    Torgersen  38.9  17.8  181  3625
..         ...   ...   ...  ...   ...
145      Dream  36.6  18.4  184  3475
146      Dream  36.0  17.8  195  3450
147      Dream  37.8  18.1  193  3750
148      Dream  36.0  17.1  187  3700
149      Dream  41.5  18.5  201  4000

[150 rows x 5 columns]

In [2]:
Penguins.columns = ['Island', 'Culmen Length', 'Culmen Depth', 'Flipper Length', 'Body Mass']
Penguins

        Island  Culmen Length  Culmen Depth  Flipper Length  Body Mass
0    Torgersen           39.5          17.4             186       3800
1    Torgersen           40.3          18.0             195       3250
2    Torgersen           36.7          19.3             193       3450
3    Torgersen           39.3          20.6             190       3650
4    Torgersen           38.9          17.8             181       3625
..         ...            ...           ...             ...        ...
145      Dream           36.6          18.4             184       3475
146      Dream           36.0          17.8             195       3450
147      Dream           37.8          18.1             193       3750
148      Dream           36.0          17.1             187       3700
149      Dream           41.5          18.5             201       4000

[150 rows x 5 columns]